<div class="row form-group nested-fields">
  <div class="col-3 offset-8">
    <%= f.collection_select :field_id, Field.all, :id, :sel_name, {prompt: true}, {:class => "form-control"} %>
  </div>
  <div class="col-1">
    <%= link_to_remove_association "Remove", f, :class => "btn btn-warning" %>
  </div>
</div>
